
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main{
    margin-left: 12px;
    padding-bottom: 12px;
}

#pope{
    width: 90px;
    position: fixed;
    top: 200px;
    right: 200px;
}

#wrapper-for-name{
    font-family: Helvetica;
    font-size: 24px;
    height: 75px;
    line-height: 75px;
}


.pixel, .infopixel{
    color: #b4b4b4;
    
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    font-family: Helvetica;
    font-weight: 400;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    
    box-sizing:border-box;
}

.pixel{
    width: 25px;
    border: 1px solid black;
}

.infopixel{
    background-color: white;
    display: inline-block;
    /* line-height: 20px; */
    width: 50px;
    font-size: 12px;
    color: #b0b0b0;
}

.row{
    /* width: 1400px; */
    margin: 0;
    display: block;
}

#result{
    /* width: 1000px; */
    /* height: 1000px; */
    border: 1px solid #f0f0f0;
}